---
import { site } from '../data/site';
---

<header class="site-header">
  <div class="wrap">
    <a class="brand" href="/">{site.name}</a>
    <nav>
      <a href="/#about">About</a>
      <a href="/#education">Education</a>
      <a href="/#experience">Experience</a>
      <a href="/blog">Blog</a>
    </nav>
  </div>
</header>
